*,html body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    height: 80px;
    background-color: rgb(40, 39, 39);
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    z-index: 999;
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;
    text-transform: capitalize;
}

.firstname {
    color: antiquewhite;
    font-weight: 700;
}

.lastname {
    color: rgb(220, 100, 20);
    font-weight: 400;
    padding-left: 4px;

}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation>li {
    list-style-type: none;
    padding: 15px;
}

.navigation>li :hover {
    color: crimson;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}
.navigation>li>img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 15px;
}

.navigation>li>img:hover {
    width: 65px;
    height: 65px;
    border-radius: 65px;
    padding: 15px;
    transition: all .3s ease-in-out;
}

.navigation>li>a {
    color: antiquewhite;
    font-size: 20px;
    text-decoration: none;
}

.navigation>li>a:hover {
    color: crimson;
    transition: all 0.3s ease-in-out;
}

.active {
    background-color: crimson;
    color: antiquewhite;
    padding: 15px;
    border-radius: 20%;
}

.active:hover {
    color: antiquewhite !important;
    transition: all 0.3s ease-in-out;
    background-color: crimson;
}

footer {
    background-color: #1d1b1b;
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

footer p {
    margin: 0;
    height: 100%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
    display:flex;
    z-index: 999;
}

.home {
    color: white;
    background-image: url(image/jeruk.jpg);
    width: 100%;
    height: auto;
    background-size: 100% 110vh;
    position: relative;
    background-repeat: no-repeat;
}

.text {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25%;
}

.text>p {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.text>ul {
    list-style: none;
    display: flex;
    flex-direction: column; /* Susunan vertikal */
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 30px;
    font-size: 20px;
}

.logo {
    padding-left: 65px;
    padding-top: 40px;
}

.content>h1 {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 35px;
    box-shadow: #1d1b1b;
}

.content>p {
    display: flex;
    justify-content: center;
    box-shadow: #1d1b1b;
}

.content>a {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    cursor: pointer;
    color: white;
    width: 100px;
    padding: 15px;
    box-shadow: #1d1b1b;
    background-color: green;
    border: none;
    border-radius: 50px;
    text-decoration: none;
}

.content>a:hover {
    background-color: orange;
}

.text>h1 {
    margin-left: 25%;
}